<!DOCTYPE html>
<html>
<head>
    <title>CureAI - Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    

</head>

<body>

<div class="main-card">
    <div class="navbar">

    <div class="logo">
        💙 CureAI
    </div>

    <div class="status">
        ✨ AI Powered
        <span class="dot"></span>
    </div>

</div>

<h1 class="hero-title">
    Cure<span>AI</span>
</h1>
<h3 class="hero-subtitle">
AI Powered Health Assistant
</h3>

<p class="tagline">
Smart Predictions.
Better Health.
Brighter Tomorrow.
</p>

<div class="hero-line"></div>


<p class="instruction">
    Select your symptoms and click Predict Disease.
</p>



<form action="/predict" method="POST">
    <input
    type="text"
    id="searchBox"
    placeholder="🔍 Search symptoms..."
>
<div id="suggestions" class="suggestions"></div>

<div class="selected-section">
    <h3>Selected Symptoms</h3>

    <div id="selectedSymptoms"></div>
</div>
<div class="section-title">
    🩺 Select Symptoms
</div>
<div id="symptomChips" class="chips-container">
{% for symptom in symptoms %}

<div class="chip" data-value="{{ symptom }}">
    {{ symptom.replace("_", " ").title() }}
</div>

{% endfor %}
</div>
<select id="symptoms" multiple name="symptoms">


{% for symptom in symptoms %}

<option value="{{ symptom }}">{{ symptom }}</option>

{% endfor %}

</select>

<button type="submit">

Predict Disease

</button>

</form>

{% if prediction %}

<div class="result">

Predicted Disease

<br><br>

{{ prediction }}

</div>

{% endif %}

</div>

<footer style="
margin-top:40px;
padding:20px;
text-align:center;
font-size:15px;
color:#666;
border-top:1px solid #ddd;
">

<p>Made with ❤️ using Machine Learning & Flask</p>

<p><strong>Developed by Vrinda Prakash Vishwakarma</strong></p>

<p>© 2026 CureAI</p>

</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>     